
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(219, 10%, 46%);
    --Dark-blue: hsl(218, 44%, 22%);
    --font:'Outfit', sans-serif;
    --font-2:'Open Sans', sans-serif;
}
main{
    background-color: var(--Light-gray);
    
}
.card__container{
    width: 90%;
    padding: 100px 0;
    margin: 0 auto;
}
.card{
    background-color: var(--White);
    border-radius: 20px;
    padding-top: 20px;

}
.fondo{
    width: 90%;
    height: 300px;
    background: url('./images/image-qr-code.png');
    background-size: cover;
    object-fit: cover;
    margin:0 auto;
    border-radius: 10px;
}

.subtitulo{
    text-align: center;
    color: var(--Dark-blue);
    padding: 20px 30px;
}
.parrafo{
    text-align: center;
    padding-bottom: 40px;
    font-family: var(--font-2);
    font-size: 15px;
    color: var(--Grayish-blue);
    padding: 10px 30px 40px 30px;

}
@media (min-width:375px){
    .card__container{
        width: 345px;
    }
}